<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>task-02</title>
	<script src="vue/vue.js"></script>
	<style>
	.baz{
		color:red;
	}
	.foo{
		color:blue;
	}	
	</style>
</head>
<body>
<div id="app-01" v-bind:class="{active:isActive}"></div>
<div id="app-02" v-bind:class='classObject'></div>
<div id='app-03' v-bind:style='{color:activeColor,fontSize:fontSize + "px"}'>
<p>1111</p>
</div>
<div id="app-04">
	<template v-if="ok">
	<h1>Title</h1>
	<p>Para</p>
	</template>
	<p v-else>No</p>
</div>
<div id="app-05">
<template v-if="loginType==='username'">
	<label>Username</label>
	<input placeholder="Enter your username" key="username">
</template>	
<template v-else>
	<label>Email</label>
	<input placeholder="Enter your email address" key="email">
</template>
<button v-on:click="toggle">Toggle login type</button>
</div>
<script>

	var app01=new Vue({
		el:'#app-01',
		data:{
			isActive:true
		}
	})
	var app02=new Vue({
		el:'#app-02',
		data:{			
			isActive:true,
			error:null
			
		},
		computed:{
			classObject:function(){
				return{
					active:this.isActive&&!this.error,
					'text-danger':this.error&&this.error.type==='fatal'
				}
			}
		}
		
	})
	var app03=new Vue({
		el:'#app-03',
		data:{
			activeColor:'red',
			fontSize:30
		}
	})
	var app04=new Vue({
		el:'#app-04',
		data:{
			ok:true
		}
	})
	var app05=new Vue({
		el:'#app-05',
		data:{
			loginType:'username'
		},
		methods:{
			toggle:function(){
				this.loginType==='username'?this.loginType='email':this.loginType='username'
			}
		}

	})
</script>	
</body>
</html>