<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>task-03</title>
	<script src="vue/vue.js"></script>
	<style>
	
	</style>
</head>
<body>
<div id="app-1">
<input type="text" v-on:keyup.f1="submit">
<input type="text" v-on:keyup.enter="submit">
<input type="text" @keyup.enter="submit">
</div>
<div id="app-2">
	<input type="text" v-model="message" placeholder="'edit me">
	<p>Message is:{{message}}</p>	
</div>
<div id="app-3">
	<input type="checkbox" id="chechbox" v-model="checked">
	<label for="checkbox">{{checked}}</label>
</div>
<div id="app-4">
	<input type="checkbox" value="Jack" v-model="checkedNames" id="jack">
	<label for="jack">jack</label>
	<input type="checkbox" value="John" v-model="checkedNames" id="john">
	<label for="john">john</label>
	<input type="checkbox" value="Mike" v-model="checkedNames" id="mike" >
	<label for="mike">mike</label>
	<br>
	<span>checked names: {{ checkedNames }}</span>
</div>
<div id="app-5">
	<input type="radio" id="one" value="One" v-model="picked">
	<label for="one">One</label>
	<input type="radio" id="two" value="Two" v-model="picked">
	<label for="two">Two</label>
	<input type="radio" id="three" value="Three" v-model="picked">
	<label for="three">Three</label>
	<br>
	<span>picked:{{picked}}</span>
</div>
<div id="app-6">
	<select v-model.lazy="selected">
		<option v-for="option in options">{{option.text}}</option>
	</select>
	<span>selected:{{selected}}</span>
</div>
<div id="app-7">
	<input id="bindvalue" type="checkbox" v-model.lazy="toggle" v-bind:true-value="a" v-bind:false-value='b'>
	<label for="bindvalue">{{toggle}}</label>
	<input type="text" v-model='age' id='Age'>
	<label for="Age">{{age}}</label>
</div>
<script>
var app1=new Vue({
	el:'#app-1',
	methods:{
		submit:function(){
			alert('success')
		}
	}
})
Vue.config.keyCodes.f2=113
var app2=new Vue({
	el:'#app-2',
	data:{
		message:''
	}	
})	
var app3=new Vue({
	el:'#app-3',
	data:{
		checked:false
	}
})
var app4=new Vue({
	el:'#app-4',
	data:{
		checkedNames:[]
	}
})
var app05=new Vue({
	el:'#app-5',
	data:{
		picked:null
	}
})
var app06=new Vue({
	el:'#app-6',
	data:{
		selected:'A',
		options:[
		{text:'One',value:'A'},
		{text:'Two',value:'B'},
		{text:'Tree',value:'C'}
		]
	}
})
var app07=new Vue({
	el:'#app-7',
	data:{
		toggle:'false',
			a:'true',
		    b:'false',
		pick:''	,
		age:''	
	}
})
</script>	
</body>
</html>